<div class="avatar media-left">
  <a href="#">
    <img class="media-object avatar-48" src={{topic.user.avatar_url}} alt={{topic.user.id}}>
  </a>
</div>
<div class="infos media-body">
  <div class="title media-heading">
    {{#link-to 'topics.show' topic (query-params top=true) title=topic.title}}{{topic.title}}{{/link-to}}
  </div>
  <div class="info">
    <a class="node" href="/topics/{{topic.node_id}}">{{topic.node_name}}</a>
    •
    <a data-name="" href="#">{{topic.user.login}}</a>
    {{#if topic.last_reply_user_login}}
      <span class="hidden-mobile">
        •
        最后由 <a href="#">{{topic.last_reply_user_login}}</a> 于 {{topic.replied_at}}回复
        </span>
    {{/if}}
  </div>
</div>
<div class="count media-right">
  {{#if isShowReplyCount}}
    {{#link-to 'topics.show' topic class="state-false state-true"}}{{topic.replies_count}}{{/link-to}}
  {{/if}}
</div>
