<div class="avatar">
  {{#link-to 'users.show' reply.user.id}}
    <img class="media-object avatar-48" src={{reply.user.avatar_url}} alt={{reply.user.id}}>
  {{/link-to}}
</div>
<div class="infos">
  <div class="info">
        <span class="name">
          {{#link-to 'users.show' reply.user.login}}
            {{reply.user.login}}
          {{/link-to}}
        </span> ·
        <span class="time">
          <a class="reply-floor" id="reply-{{reply.id}}" {{action 'scrollToit'}}>#{{number}}</a> ·
          <abbr class="timeago" title="{{reply.updated_at}}">{{time-in-words reply.updated_at}}</abbr>
        </span>
        <span class="opts pull-right">
            <a title="喜欢" class="likeable " {{action 'likeIt'}}><i class="glyphicon glyphicon-heart-empty"></i> <span>喜欢</span></a>
            <a class="edit fa fa-pencil" data-uid="1394" title="修改回帖" href="#"></a>
            <a data-floor="12" data-login="upyun" title="回复此楼" class="btn-reply fa fa-mail-reply" href="#"></a>
        </span>
  </div>
  <div class="markdown">
    <!-- TODO: reply body 里面的 @xxx link 需要处理-->
    {{{reply.body_html}}}
  </div>
</div>
