<div class="avatar media-left">
  {{#link-to 'users.show' topic.user.login}}
    <img class="media-object avatar-48" src={{topic.user.avatar_url}} alt={{topic.user.id}}>
  {{/link-to}}
</div>
<div class="infos media-body">
  <div class="title media-heading">
    {{#link-to 'topics.show' topic.id (query-params top=true) title=topic.title}}{{topic.title}}{{/link-to}}
  </div>
  <div class="info">
    {{#link-to 'nodes.show' topic.node_id class='node'}}
      {{topic.node_name}}
    {{/link-to}}
    •
    {{#link-to 'users.show' topic.user.login}}
      {{topic.user.login}}
    {{/link-to}}
    {{#if topic.last_reply_user_login}}
      <span class="hidden-mobile">
        •
        最后由
        {{#link-to 'users.show' topic.last_reply_user_login}}
          {{topic.last_reply_user_login}}
        {{/link-to}}
        于 {{time-in-words topic.replied_at}}回复
        </span>
    {{/if}}
  </div>
</div>
<div class="count media-right">
  {{#if isShowReplyCount}}
    {{#link-to 'topics.show' topic class="state-false state-true"}}{{topic.replies_count}}{{/link-to}}
  {{/if}}
</div>
