{{#each modelToDulArray as |users|}}
  <div class="row">
    {{#each users as |user|}}
      <div class="col-xs-3" style="mix-width:100px">
        <div class="media user-card">
          <div class="media-left">
            <a href="#{{user.login}}" class="avatar">
              <img class="media-object avatar-48" src="{{user.avatar_url}}" alt="1">
            </a>
          </div>
          <div class="media-body">
            <div class="media-heading"><a href="{{user.login}}">{{user.login}}</a></div>
            <div class="infos">
              <div class="item opts">
                <a class="button-follow-user " href="#">
                  <i class="fa fa-user"></i> <span>关注</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
{{yield}}
