<div class="row">

  <div class="col-md-9">

    <div class="topics panel panel-default">
      <div class="panel-heading"></div>

      <div class="panel-body">
        {{#each last_actived as |topic|}}
          <div class="topic media topic-{{topic.id}}">
            <div class="avatar media-left">
              <a href="#">
                <img class="media-object avatar-48" src={{topic.user.avatar_url}} alt={{topic.user.id}}>
              </a>
            </div>
            <div class="infos media-body">
              <div class="title media-heading">
                {{#link-to 'topics.show' topic title=topic.title}}{{topic.title}}{{/link-to}}
              </div>
              <div class="info">
                <a class="node" href="/topics/{{topic.node_id}}">{{topic.node_name}}</a>
                •
                <a data-name="" href="#">{{topic.user.login}}</a>
                {{#if topic.last_reply_user_login}}
                  <span class="hidden-mobile">
                  •
                  最后由 <a href="#">{{topic.last_reply_user_login}}</a> 于 {{topic.replied_at}}回复
                  </span>
                {{/if}}
              </div>
            </div>
            <div class="count media-right">
              {{#link-to 'topics.show' topic class="state-false state-true"}}{{topic.replies_count}}{{/link-to}}
            </div>
          </div>
        {{/each}}
      </div>

      <div class="panel-footer">
        <ul class="pagination">
          <li class="prev previous_page {{prevDisabled}}" {{action 'turnPage' -1}}>
            <a href="#">← 上一页</a>
          </li>
          {{#each pages as |page|}}
            {{#link-to 'topics' (query-params page=page) tagName='li'}}
              <a href="#">{{page}}</a>
            {{/link-to}}
          {{/each}}
          <li class="disabled">
            <a href="#">...</a>
          </li>
          <li class="next next_page" {{action 'turnPage' 1}}>
            <a href="#">下一页 →</a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="col-md-3">
    Slider Bar
  </div>
</div>
