<div class="row">

  <div class="col-md-9">

    <div class="topics panel panel-default">
      <div class="panel-heading"></div>

      <div class="panel-body">
        {{#each last_actived as |topic|}}
          {{topic-item topic=topic class='topic media'}}
        {{/each}}
      </div>

      <div class="panel-footer">
        <ul class="pagination">
          <li class="prev previous_page {{prevDisabled}}" {{action 'plusPage' -1}}>
            <a href="#">← 上一页</a>
          </li>
          {{#each pages as |page|}}
            {{#link-to 'topics' (query-params page=page) tagName='li'}}
              <a href="#" {{action 'scrollToTopics'}}>{{page}}</a>
            {{/link-to}}
          {{/each}}
          <li class="disabled">
            <a href="#">...</a>
          </li>
          <li class="next next_page" {{action 'plusPage' 1}}>
            <a href="#">下一页 →</a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default clearfix">
      <div class="panel-body">
        <div class="btn-group pull-left">
          {{#link-to 'topics.new' class='btn btn-primary'}}发布新帖{{/link-to}}
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/topics/new?node=3">Gem</a>
            </li>
            <li>
              <a href="/topics/new?node=24">工具控</a>
            </li>
            <li>
              <a href="/topics/new?node=27">瞎扯淡</a>
            </li>
            <li>
              <a href="/topics/new?node=44">部署</a>
            </li>
            <li>
              <a href="/topics/new?node=52">新手问题</a>
            </li>
          </ul>
        </div>

        <a title="订阅 Ruby China 社区新帖" class="pull-right feed-button btn btn-default" target="_blank"
           href="https://ruby-china.org/topics/feed"><span></span> RSS</a>
      </div>
    </div>
  </div>
</div>
