<div class="row">

  <div class="col-md-9">

    <div class="topics panel panel-default">
      <div class="panel-heading"></div>

      <div class="panel-body">
        {{#each last_actived as |topic|}}
          {{topic-item topic=topic class='topic media'}}
        {{/each}}
      </div>

      <div class="panel-footer">
        <ul class="pagination">
          <li class="prev previous_page {{prevDisabled}}" {{action 'turnPage' -1}}>
            <a href="#">← 上一页</a>
          </li>
          {{#each pages as |page|}}
            {{#link-to 'topics' (query-params page=page) tagName='li'}}
              <a href="#">{{page}}</a>
            {{/link-to}}
          {{/each}}
          <li class="disabled">
            <a href="#">...</a>
          </li>
          <li class="next next_page" {{action 'turnPage' 1}}>
            <a href="#">下一页 →</a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="col-md-3">
    Slider Bar
  </div>
</div>
