<div class="topic-detail panel panel-default">
  <div class="panel-heading media clearfix">
    <div class="media-body">
      <h1 class="media-heading">{{model.title}}</h1>

      <div class="info">
        <a class="node" href="/topics/node{{model.node_id}}">{{model.node_name}}</a>
        ·
        <a href="#">{{model.user.login}}</a>
        ·
        于 <abbr class="timeago" title="{{model.created_at}}">{{time-in-words model.created_at}}</abbr>发布
        ·
        最后由
        <a href="#">{{model.last_reply_user_login}}</a> 于 <abbr class="timeago" title="{{model.replied_at}}">
        {{time-in-words model.replied_at}}</abbr>回复
        ·
        {{model.hits}} 次阅读
      </div>
    </div>
    <div class="avatar media-right">
      <a href="#">
        <img class="media-object avatar-48" src="{{model.user.avatar_url}}" alt="{{model.user.id}}">
      </a>
    </div>
  </div>

  <div class="panel-body markdown">
    {{{model.body_html}}}
  </div>

  <div class="label-awesome"></div>

  <div class="panel-footer clearfix">
    <div class="opts">
      <a title="喜欢" data-count="12" data-state="" data-type="Topic" data-id="25728" class="likeable " href="#">
        <i class="fa fa-heart-o"></i>
        <span>12 人喜欢</span>
      </a>
      <a data-id="25728" data-followed="false" class="follow" href="#"><i class="fa fa-eye"></i> 关注</a>
      <a title="收藏" class="bookmark " data-id="25728" href="#"><i class="fa fa-bookmark"></i></a>
      <span class="pull-right opts"> </span>
    </div>
  </div>
</div>

{{#if isLoadingTopics}}
  <div class="total panel-heading">
    Loading...
  </div>
{{else}}
  {{#if ishaveReplies}}
    <div id="replies" class="panel panel-default">
      <div class="total panel-heading">
        共收到 <b>{{model.replies_count}}</b> 条回复
      </div>
      <div class="items panel-body">
        {{#each pagedReplies as |reply i|}}
          {{topics-show-reply reply=reply num=i}}
        {{/each}}
      </div>

      {{paginate-toolbar next="nextPage" prev="prevPage" route='topics.show' totalCount=model.replies_count}}
    </div>
  {{else}}
    <div class="no-result">
      暂无回复。
    </div>
  {{/if}}
{{/if}}
