<div class="list">
  {{#each last_actived as |topic|}}
    <div class="topic media topic-{{topic.id}}">
      <div class="avatar media-left">
        <a href="/etnl"><img class="media-object avatar-48"
                             src={{topic.user.avatar_url}} alt={{topic.user.id}}></a>
      </div>
      <div class="infos media-body">
        <div class="title media-heading">
          <a title={{topic.title}} href="/topics/25728">{{topic.title}}</a>
        </div>
        <div class="info">
          <a class="node" href="/topics/{{topic.node_id}}">{{topic.node_name}}</a>
          •
          <a data-name="" href="/etnl">{{topic.user.login}}</a>
          <span class="hidden-mobile">
          •
            最后由 <a href="/meeasyhappy">{{topic.last_reply_user_login}}</a> 于 {{topic.replied_at}}回复
          </span>
        </div>
      </div>
      <div class="count media-right">
        <a class="state-false state-true" href="/topics/25728#reply2">2</a>
      </div>
    </div>
  {{/each}}
</div>
